<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.yc.order.dao.mapper.interfaces.OrdOdProdExtendMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.order.dao.mapper.bo.OrdOdProdExtend" >
    <id column="PROD_DETAL_EXTEND_ID" property="prodDetalExtendId" jdbcType="BIGINT" />
    <result column="PROD_DETAL_ID" property="prodDetalId" jdbcType="BIGINT" />
    <result column="ORDER_ID" property="orderId" jdbcType="BIGINT" />
    <result column="LANGUNGE_PAIR" property="langungePair" jdbcType="VARCHAR" />
    <result column="LANGUNGE_PAIR_NAME" property="langungePairName" jdbcType="VARCHAR" />
    <result column="INFO_JSON" property="infoJson" jdbcType="VARCHAR" />
    <result column="LANGUNGE_NAME_EN" property="langungeNameEn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROD_DETAL_EXTEND_ID, PROD_DETAL_ID, ORDER_ID, LANGUNGE_PAIR, LANGUNGE_PAIR_NAME, 
    INFO_JSON, LANGUNGE_NAME_EN
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdProdExtendCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ord_od_prod_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from ord_od_prod_extend
    where PROD_DETAL_EXTEND_ID = #{prodDetalExtendId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from ord_od_prod_extend
    where PROD_DETAL_EXTEND_ID = #{prodDetalExtendId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdProdExtendCriteria" >
    delete from ord_od_prod_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdProdExtend" >
    insert into ord_od_prod_extend (PROD_DETAL_EXTEND_ID, PROD_DETAL_ID, ORDER_ID, 
      LANGUNGE_PAIR, LANGUNGE_PAIR_NAME, INFO_JSON, 
      LANGUNGE_NAME_EN)
    values (#{prodDetalExtendId,jdbcType=BIGINT}, #{prodDetalId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, 
      #{langungePair,jdbcType=VARCHAR}, #{langungePairName,jdbcType=VARCHAR}, #{infoJson,jdbcType=VARCHAR}, 
      #{langungeNameEn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdProdExtend" >
    insert into ord_od_prod_extend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prodDetalExtendId != null" >
        PROD_DETAL_EXTEND_ID,
      </if>
      <if test="prodDetalId != null" >
        PROD_DETAL_ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="langungePair != null" >
        LANGUNGE_PAIR,
      </if>
      <if test="langungePairName != null" >
        LANGUNGE_PAIR_NAME,
      </if>
      <if test="infoJson != null" >
        INFO_JSON,
      </if>
      <if test="langungeNameEn != null" >
        LANGUNGE_NAME_EN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prodDetalExtendId != null" >
        #{prodDetalExtendId,jdbcType=BIGINT},
      </if>
      <if test="prodDetalId != null" >
        #{prodDetalId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="langungePair != null" >
        #{langungePair,jdbcType=VARCHAR},
      </if>
      <if test="langungePairName != null" >
        #{langungePairName,jdbcType=VARCHAR},
      </if>
      <if test="infoJson != null" >
        #{infoJson,jdbcType=VARCHAR},
      </if>
      <if test="langungeNameEn != null" >
        #{langungeNameEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdProdExtendCriteria" resultType="java.lang.Integer" >
    select count(*) from ord_od_prod_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ord_od_prod_extend
    <set >
      <if test="record.prodDetalExtendId != null" >
        PROD_DETAL_EXTEND_ID = #{record.prodDetalExtendId,jdbcType=BIGINT},
      </if>
      <if test="record.prodDetalId != null" >
        PROD_DETAL_ID = #{record.prodDetalId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.langungePair != null" >
        LANGUNGE_PAIR = #{record.langungePair,jdbcType=VARCHAR},
      </if>
      <if test="record.langungePairName != null" >
        LANGUNGE_PAIR_NAME = #{record.langungePairName,jdbcType=VARCHAR},
      </if>
      <if test="record.infoJson != null" >
        INFO_JSON = #{record.infoJson,jdbcType=VARCHAR},
      </if>
      <if test="record.langungeNameEn != null" >
        LANGUNGE_NAME_EN = #{record.langungeNameEn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ord_od_prod_extend
    set PROD_DETAL_EXTEND_ID = #{record.prodDetalExtendId,jdbcType=BIGINT},
      PROD_DETAL_ID = #{record.prodDetalId,jdbcType=BIGINT},
      ORDER_ID = #{record.orderId,jdbcType=BIGINT},
      LANGUNGE_PAIR = #{record.langungePair,jdbcType=VARCHAR},
      LANGUNGE_PAIR_NAME = #{record.langungePairName,jdbcType=VARCHAR},
      INFO_JSON = #{record.infoJson,jdbcType=VARCHAR},
      LANGUNGE_NAME_EN = #{record.langungeNameEn,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdProdExtend" >
    update ord_od_prod_extend
    <set >
      <if test="prodDetalId != null" >
        PROD_DETAL_ID = #{prodDetalId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="langungePair != null" >
        LANGUNGE_PAIR = #{langungePair,jdbcType=VARCHAR},
      </if>
      <if test="langungePairName != null" >
        LANGUNGE_PAIR_NAME = #{langungePairName,jdbcType=VARCHAR},
      </if>
      <if test="infoJson != null" >
        INFO_JSON = #{infoJson,jdbcType=VARCHAR},
      </if>
      <if test="langungeNameEn != null" >
        LANGUNGE_NAME_EN = #{langungeNameEn,jdbcType=VARCHAR},
      </if>
    </set>
    where PROD_DETAL_EXTEND_ID = #{prodDetalExtendId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdProdExtend" >
    update ord_od_prod_extend
    set PROD_DETAL_ID = #{prodDetalId,jdbcType=BIGINT},
      ORDER_ID = #{orderId,jdbcType=BIGINT},
      LANGUNGE_PAIR = #{langungePair,jdbcType=VARCHAR},
      LANGUNGE_PAIR_NAME = #{langungePairName,jdbcType=VARCHAR},
      INFO_JSON = #{infoJson,jdbcType=VARCHAR},
      LANGUNGE_NAME_EN = #{langungeNameEn,jdbcType=VARCHAR}
    where PROD_DETAL_EXTEND_ID = #{prodDetalExtendId,jdbcType=BIGINT}
  </update>
</mapper>