<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.yc.order.dao.mapper.interfaces.OrdOdInvoiceLogisticsMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.order.dao.mapper.bo.OrdOdInvoiceLogistics" >
    <id column="LOGISTICS_ID" property="logisticsId" jdbcType="BIGINT" />
    <result column="INVOICE_INFO_ID" property="invoiceInfoId" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="BIGINT" />
    <result column="CONTACT_COMPANY" property="contactCompany" jdbcType="VARCHAR" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
    <result column="CONTACT_TEL" property="contactTel" jdbcType="VARCHAR" />
    <result column="CONTACT_EMAIL" property="contactEmail" jdbcType="VARCHAR" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="COUNTY_CODE" property="countyCode" jdbcType="VARCHAR" />
    <result column="POSTCODE" property="postcode" jdbcType="VARCHAR" />
    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
    <result column="EXPRESS_ODD_bigint" property="expressOddBigint" jdbcType="VARCHAR" />
    <result column="EXPRESS_ID" property="expressId" jdbcType="VARCHAR" />
    <result column="LOGISTICS_TIME_ID" property="logisticsTimeId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LOGISTICS_ID, INVOICE_INFO_ID, ORDER_ID, CONTACT_COMPANY, CONTACT_NAME, CONTACT_TEL, 
    CONTACT_EMAIL, PROVINCE_CODE, CITY_CODE, COUNTY_CODE, POSTCODE, AREA_CODE, EXPRESS_ODD_bigint, 
    EXPRESS_ID, LOGISTICS_TIME_ID, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdInvoiceLogisticsCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ord_od_invoice_logistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from ord_od_invoice_logistics
    where LOGISTICS_ID = #{logisticsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from ord_od_invoice_logistics
    where LOGISTICS_ID = #{logisticsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdInvoiceLogisticsCriteria" >
    delete from ord_od_invoice_logistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdInvoiceLogistics" >
    insert into ord_od_invoice_logistics (LOGISTICS_ID, INVOICE_INFO_ID, ORDER_ID, 
      CONTACT_COMPANY, CONTACT_NAME, CONTACT_TEL, 
      CONTACT_EMAIL, PROVINCE_CODE, CITY_CODE, 
      COUNTY_CODE, POSTCODE, AREA_CODE, 
      EXPRESS_ODD_bigint, EXPRESS_ID, LOGISTICS_TIME_ID, 
      REMARK)
    values (#{logisticsId,jdbcType=BIGINT}, #{invoiceInfoId,jdbcType=VARCHAR}, #{orderId,jdbcType=BIGINT}, 
      #{contactCompany,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR}, 
      #{contactEmail,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{countyCode,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{expressOddBigint,jdbcType=VARCHAR}, #{expressId,jdbcType=VARCHAR}, #{logisticsTimeId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdInvoiceLogistics" >
    insert into ord_od_invoice_logistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logisticsId != null" >
        LOGISTICS_ID,
      </if>
      <if test="invoiceInfoId != null" >
        INVOICE_INFO_ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="contactCompany != null" >
        CONTACT_COMPANY,
      </if>
      <if test="contactName != null" >
        CONTACT_NAME,
      </if>
      <if test="contactTel != null" >
        CONTACT_TEL,
      </if>
      <if test="contactEmail != null" >
        CONTACT_EMAIL,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE,
      </if>
      <if test="postcode != null" >
        POSTCODE,
      </if>
      <if test="areaCode != null" >
        AREA_CODE,
      </if>
      <if test="expressOddBigint != null" >
        EXPRESS_ODD_bigint,
      </if>
      <if test="expressId != null" >
        EXPRESS_ID,
      </if>
      <if test="logisticsTimeId != null" >
        LOGISTICS_TIME_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logisticsId != null" >
        #{logisticsId,jdbcType=BIGINT},
      </if>
      <if test="invoiceInfoId != null" >
        #{invoiceInfoId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="contactCompany != null" >
        #{contactCompany,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="expressOddBigint != null" >
        #{expressOddBigint,jdbcType=VARCHAR},
      </if>
      <if test="expressId != null" >
        #{expressId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsTimeId != null" >
        #{logisticsTimeId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdInvoiceLogisticsCriteria" resultType="java.lang.Integer" >
    select count(*) from ord_od_invoice_logistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ord_od_invoice_logistics
    <set >
      <if test="record.logisticsId != null" >
        LOGISTICS_ID = #{record.logisticsId,jdbcType=BIGINT},
      </if>
      <if test="record.invoiceInfoId != null" >
        INVOICE_INFO_ID = #{record.invoiceInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.contactCompany != null" >
        CONTACT_COMPANY = #{record.contactCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.contactName != null" >
        CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactTel != null" >
        CONTACT_TEL = #{record.contactTel,jdbcType=VARCHAR},
      </if>
      <if test="record.contactEmail != null" >
        CONTACT_EMAIL = #{record.contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null" >
        PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.countyCode != null" >
        COUNTY_CODE = #{record.countyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null" >
        POSTCODE = #{record.postcode,jdbcType=VARCHAR},
      </if>
      <if test="record.areaCode != null" >
        AREA_CODE = #{record.areaCode,jdbcType=VARCHAR},
      </if>
      <if test="record.expressOddBigint != null" >
        EXPRESS_ODD_bigint = #{record.expressOddBigint,jdbcType=VARCHAR},
      </if>
      <if test="record.expressId != null" >
        EXPRESS_ID = #{record.expressId,jdbcType=VARCHAR},
      </if>
      <if test="record.logisticsTimeId != null" >
        LOGISTICS_TIME_ID = #{record.logisticsTimeId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ord_od_invoice_logistics
    set LOGISTICS_ID = #{record.logisticsId,jdbcType=BIGINT},
      INVOICE_INFO_ID = #{record.invoiceInfoId,jdbcType=VARCHAR},
      ORDER_ID = #{record.orderId,jdbcType=BIGINT},
      CONTACT_COMPANY = #{record.contactCompany,jdbcType=VARCHAR},
      CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      CONTACT_TEL = #{record.contactTel,jdbcType=VARCHAR},
      CONTACT_EMAIL = #{record.contactEmail,jdbcType=VARCHAR},
      PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      COUNTY_CODE = #{record.countyCode,jdbcType=VARCHAR},
      POSTCODE = #{record.postcode,jdbcType=VARCHAR},
      AREA_CODE = #{record.areaCode,jdbcType=VARCHAR},
      EXPRESS_ODD_bigint = #{record.expressOddBigint,jdbcType=VARCHAR},
      EXPRESS_ID = #{record.expressId,jdbcType=VARCHAR},
      LOGISTICS_TIME_ID = #{record.logisticsTimeId,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdInvoiceLogistics" >
    update ord_od_invoice_logistics
    <set >
      <if test="invoiceInfoId != null" >
        INVOICE_INFO_ID = #{invoiceInfoId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="contactCompany != null" >
        CONTACT_COMPANY = #{contactCompany,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        CONTACT_TEL = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        CONTACT_EMAIL = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE = #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        POSTCODE = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="expressOddBigint != null" >
        EXPRESS_ODD_bigint = #{expressOddBigint,jdbcType=VARCHAR},
      </if>
      <if test="expressId != null" >
        EXPRESS_ID = #{expressId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsTimeId != null" >
        LOGISTICS_TIME_ID = #{logisticsTimeId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where LOGISTICS_ID = #{logisticsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOdInvoiceLogistics" >
    update ord_od_invoice_logistics
    set INVOICE_INFO_ID = #{invoiceInfoId,jdbcType=VARCHAR},
      ORDER_ID = #{orderId,jdbcType=BIGINT},
      CONTACT_COMPANY = #{contactCompany,jdbcType=VARCHAR},
      CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      CONTACT_TEL = #{contactTel,jdbcType=VARCHAR},
      CONTACT_EMAIL = #{contactEmail,jdbcType=VARCHAR},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      COUNTY_CODE = #{countyCode,jdbcType=VARCHAR},
      POSTCODE = #{postcode,jdbcType=VARCHAR},
      AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      EXPRESS_ODD_bigint = #{expressOddBigint,jdbcType=VARCHAR},
      EXPRESS_ID = #{expressId,jdbcType=VARCHAR},
      LOGISTICS_TIME_ID = #{logisticsTimeId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where LOGISTICS_ID = #{logisticsId,jdbcType=BIGINT}
  </update>
</mapper>