<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.yc.order.dao.mapper.interfaces.OrdOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.order.dao.mapper.bo.OrdOrder" >
    <id column="ORDER_ID" property="orderId" jdbcType="BIGINT" />
    <result column="FLAG" property="flag" jdbcType="VARCHAR" />
    <result column="CHL_ID" property="chlId" jdbcType="VARCHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR" />
    <result column="BUSI_TYPE" property="busiType" jdbcType="VARCHAR" />
    <result column="ORDER_LEVEL" property="orderLevel" jdbcType="VARCHAR" />
    <result column="TRANSLATE_TYPE" property="translateType" jdbcType="VARCHAR" />
    <result column="TRANSLATE_NAME" property="translateName" jdbcType="VARCHAR" />
    <result column="SUB_FLAG" property="subFlag" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CORPORA_ID" property="corporaId" jdbcType="VARCHAR" />
    <result column="ACCOUNT_ID" property="accountId" jdbcType="BIGINT" />
    <result column="TIME_ZONE" property="timeZone" jdbcType="VARCHAR" />
    <result column="ORDER_TIME" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="STATE_CHG_TIME" property="stateChgTime" jdbcType="TIMESTAMP" />
    <result column="DISPLAY_FLAG" property="displayFlag" jdbcType="VARCHAR" />
    <result column="DISPLAY_FLAG_CHG_TIME" property="displayFlagChgTime" jdbcType="TIMESTAMP" />
    <result column="INTERPER_TYPE" property="interperType" jdbcType="VARCHAR" />
    <result column="LSP_ID" property="lspId" jdbcType="VARCHAR" />
    <result column="INTERPER_ID" property="interperId" jdbcType="VARCHAR" />
    <result column="LOCK_TIME" property="lockTime" jdbcType="TIMESTAMP" />
    <result column="OPER_ID" property="operId" jdbcType="VARCHAR" />
    <result column="UPDATE_FLAG" property="updateFlag" jdbcType="VARCHAR" />
    <result column="REASON_DESC" property="reasonDesc" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="FINISH_TIME" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="ORDER_DESC" property="orderDesc" jdbcType="VARCHAR" />
    <result column="KEYWORDS" property="keywords" jdbcType="VARCHAR" />
    <result column="IF_WARNING" property="ifWarning" jdbcType="VARCHAR" />
    <result column="WARNING_TYPE" property="warningType" jdbcType="VARCHAR" />
    <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="PAY_REMARK" property="payRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_ID, FLAG, CHL_ID, ORDER_TYPE, BUSI_TYPE, ORDER_LEVEL, TRANSLATE_TYPE, TRANSLATE_NAME, 
    SUB_FLAG, USER_TYPE, USER_ID, CORPORA_ID, ACCOUNT_ID, TIME_ZONE, ORDER_TIME, STATE, 
    STATE_CHG_TIME, DISPLAY_FLAG, DISPLAY_FLAG_CHG_TIME, INTERPER_TYPE, LSP_ID, INTERPER_ID, 
    LOCK_TIME, OPER_ID, UPDATE_FLAG, REASON_DESC, REMARK, FINISH_TIME, ORDER_DESC, KEYWORDS, 
    IF_WARNING, WARNING_TYPE, IP_ADDRESS, PROVINCE_CODE, CITY_CODE, PAY_REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOrderCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ord_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from ord_order
    where ORDER_ID = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from ord_order
    where ORDER_ID = #{orderId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOrderCriteria" >
    delete from ord_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOrder" >
    insert into ord_order (ORDER_ID, FLAG, CHL_ID, 
      ORDER_TYPE, BUSI_TYPE, ORDER_LEVEL, 
      TRANSLATE_TYPE, TRANSLATE_NAME, SUB_FLAG, 
      USER_TYPE, USER_ID, CORPORA_ID, 
      ACCOUNT_ID, TIME_ZONE, ORDER_TIME, 
      STATE, STATE_CHG_TIME, DISPLAY_FLAG, 
      DISPLAY_FLAG_CHG_TIME, INTERPER_TYPE, LSP_ID, 
      INTERPER_ID, LOCK_TIME, OPER_ID, 
      UPDATE_FLAG, REASON_DESC, REMARK, 
      FINISH_TIME, ORDER_DESC, KEYWORDS, 
      IF_WARNING, WARNING_TYPE, IP_ADDRESS, 
      PROVINCE_CODE, CITY_CODE, PAY_REMARK
      )
    values (#{orderId,jdbcType=BIGINT}, #{flag,jdbcType=VARCHAR}, #{chlId,jdbcType=VARCHAR}, 
      #{orderType,jdbcType=VARCHAR}, #{busiType,jdbcType=VARCHAR}, #{orderLevel,jdbcType=VARCHAR}, 
      #{translateType,jdbcType=VARCHAR}, #{translateName,jdbcType=VARCHAR}, #{subFlag,jdbcType=VARCHAR}, 
      #{userType,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{corporaId,jdbcType=VARCHAR}, 
      #{accountId,jdbcType=BIGINT}, #{timeZone,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=VARCHAR}, #{stateChgTime,jdbcType=TIMESTAMP}, #{displayFlag,jdbcType=VARCHAR}, 
      #{displayFlagChgTime,jdbcType=TIMESTAMP}, #{interperType,jdbcType=VARCHAR}, #{lspId,jdbcType=VARCHAR}, 
      #{interperId,jdbcType=VARCHAR}, #{lockTime,jdbcType=TIMESTAMP}, #{operId,jdbcType=VARCHAR}, 
      #{updateFlag,jdbcType=VARCHAR}, #{reasonDesc,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{finishTime,jdbcType=TIMESTAMP}, #{orderDesc,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{ifWarning,jdbcType=VARCHAR}, #{warningType,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{payRemark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOrder" >
    insert into ord_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="chlId != null" >
        CHL_ID,
      </if>
      <if test="orderType != null" >
        ORDER_TYPE,
      </if>
      <if test="busiType != null" >
        BUSI_TYPE,
      </if>
      <if test="orderLevel != null" >
        ORDER_LEVEL,
      </if>
      <if test="translateType != null" >
        TRANSLATE_TYPE,
      </if>
      <if test="translateName != null" >
        TRANSLATE_NAME,
      </if>
      <if test="subFlag != null" >
        SUB_FLAG,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="corporaId != null" >
        CORPORA_ID,
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID,
      </if>
      <if test="timeZone != null" >
        TIME_ZONE,
      </if>
      <if test="orderTime != null" >
        ORDER_TIME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="stateChgTime != null" >
        STATE_CHG_TIME,
      </if>
      <if test="displayFlag != null" >
        DISPLAY_FLAG,
      </if>
      <if test="displayFlagChgTime != null" >
        DISPLAY_FLAG_CHG_TIME,
      </if>
      <if test="interperType != null" >
        INTERPER_TYPE,
      </if>
      <if test="lspId != null" >
        LSP_ID,
      </if>
      <if test="interperId != null" >
        INTERPER_ID,
      </if>
      <if test="lockTime != null" >
        LOCK_TIME,
      </if>
      <if test="operId != null" >
        OPER_ID,
      </if>
      <if test="updateFlag != null" >
        UPDATE_FLAG,
      </if>
      <if test="reasonDesc != null" >
        REASON_DESC,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="finishTime != null" >
        FINISH_TIME,
      </if>
      <if test="orderDesc != null" >
        ORDER_DESC,
      </if>
      <if test="keywords != null" >
        KEYWORDS,
      </if>
      <if test="ifWarning != null" >
        IF_WARNING,
      </if>
      <if test="warningType != null" >
        WARNING_TYPE,
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="payRemark != null" >
        PAY_REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="chlId != null" >
        #{chlId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="busiType != null" >
        #{busiType,jdbcType=VARCHAR},
      </if>
      <if test="orderLevel != null" >
        #{orderLevel,jdbcType=VARCHAR},
      </if>
      <if test="translateType != null" >
        #{translateType,jdbcType=VARCHAR},
      </if>
      <if test="translateName != null" >
        #{translateName,jdbcType=VARCHAR},
      </if>
      <if test="subFlag != null" >
        #{subFlag,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="corporaId != null" >
        #{corporaId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="timeZone != null" >
        #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="stateChgTime != null" >
        #{stateChgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="displayFlag != null" >
        #{displayFlag,jdbcType=VARCHAR},
      </if>
      <if test="displayFlagChgTime != null" >
        #{displayFlagChgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="interperType != null" >
        #{interperType,jdbcType=VARCHAR},
      </if>
      <if test="lspId != null" >
        #{lspId,jdbcType=VARCHAR},
      </if>
      <if test="interperId != null" >
        #{interperId,jdbcType=VARCHAR},
      </if>
      <if test="lockTime != null" >
        #{lockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=VARCHAR},
      </if>
      <if test="updateFlag != null" >
        #{updateFlag,jdbcType=VARCHAR},
      </if>
      <if test="reasonDesc != null" >
        #{reasonDesc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderDesc != null" >
        #{orderDesc,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="ifWarning != null" >
        #{ifWarning,jdbcType=VARCHAR},
      </if>
      <if test="warningType != null" >
        #{warningType,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="payRemark != null" >
        #{payRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOrderCriteria" resultType="java.lang.Integer" >
    select count(*) from ord_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ord_order
    <set >
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.flag != null" >
        FLAG = #{record.flag,jdbcType=VARCHAR},
      </if>
      <if test="record.chlId != null" >
        CHL_ID = #{record.chlId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null" >
        ORDER_TYPE = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.busiType != null" >
        BUSI_TYPE = #{record.busiType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderLevel != null" >
        ORDER_LEVEL = #{record.orderLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.translateType != null" >
        TRANSLATE_TYPE = #{record.translateType,jdbcType=VARCHAR},
      </if>
      <if test="record.translateName != null" >
        TRANSLATE_NAME = #{record.translateName,jdbcType=VARCHAR},
      </if>
      <if test="record.subFlag != null" >
        SUB_FLAG = #{record.subFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null" >
        USER_TYPE = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.corporaId != null" >
        CORPORA_ID = #{record.corporaId,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null" >
        ACCOUNT_ID = #{record.accountId,jdbcType=BIGINT},
      </if>
      <if test="record.timeZone != null" >
        TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      </if>
      <if test="record.orderTime != null" >
        ORDER_TIME = #{record.orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.stateChgTime != null" >
        STATE_CHG_TIME = #{record.stateChgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.displayFlag != null" >
        DISPLAY_FLAG = #{record.displayFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.displayFlagChgTime != null" >
        DISPLAY_FLAG_CHG_TIME = #{record.displayFlagChgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.interperType != null" >
        INTERPER_TYPE = #{record.interperType,jdbcType=VARCHAR},
      </if>
      <if test="record.lspId != null" >
        LSP_ID = #{record.lspId,jdbcType=VARCHAR},
      </if>
      <if test="record.interperId != null" >
        INTERPER_ID = #{record.interperId,jdbcType=VARCHAR},
      </if>
      <if test="record.lockTime != null" >
        LOCK_TIME = #{record.lockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operId != null" >
        OPER_ID = #{record.operId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateFlag != null" >
        UPDATE_FLAG = #{record.updateFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.reasonDesc != null" >
        REASON_DESC = #{record.reasonDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.finishTime != null" >
        FINISH_TIME = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderDesc != null" >
        ORDER_DESC = #{record.orderDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.keywords != null" >
        KEYWORDS = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.ifWarning != null" >
        IF_WARNING = #{record.ifWarning,jdbcType=VARCHAR},
      </if>
      <if test="record.warningType != null" >
        WARNING_TYPE = #{record.warningType,jdbcType=VARCHAR},
      </if>
      <if test="record.ipAddress != null" >
        IP_ADDRESS = #{record.ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null" >
        PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.payRemark != null" >
        PAY_REMARK = #{record.payRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ord_order
    set ORDER_ID = #{record.orderId,jdbcType=BIGINT},
      FLAG = #{record.flag,jdbcType=VARCHAR},
      CHL_ID = #{record.chlId,jdbcType=VARCHAR},
      ORDER_TYPE = #{record.orderType,jdbcType=VARCHAR},
      BUSI_TYPE = #{record.busiType,jdbcType=VARCHAR},
      ORDER_LEVEL = #{record.orderLevel,jdbcType=VARCHAR},
      TRANSLATE_TYPE = #{record.translateType,jdbcType=VARCHAR},
      TRANSLATE_NAME = #{record.translateName,jdbcType=VARCHAR},
      SUB_FLAG = #{record.subFlag,jdbcType=VARCHAR},
      USER_TYPE = #{record.userType,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      CORPORA_ID = #{record.corporaId,jdbcType=VARCHAR},
      ACCOUNT_ID = #{record.accountId,jdbcType=BIGINT},
      TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      ORDER_TIME = #{record.orderTime,jdbcType=TIMESTAMP},
      STATE = #{record.state,jdbcType=VARCHAR},
      STATE_CHG_TIME = #{record.stateChgTime,jdbcType=TIMESTAMP},
      DISPLAY_FLAG = #{record.displayFlag,jdbcType=VARCHAR},
      DISPLAY_FLAG_CHG_TIME = #{record.displayFlagChgTime,jdbcType=TIMESTAMP},
      INTERPER_TYPE = #{record.interperType,jdbcType=VARCHAR},
      LSP_ID = #{record.lspId,jdbcType=VARCHAR},
      INTERPER_ID = #{record.interperId,jdbcType=VARCHAR},
      LOCK_TIME = #{record.lockTime,jdbcType=TIMESTAMP},
      OPER_ID = #{record.operId,jdbcType=VARCHAR},
      UPDATE_FLAG = #{record.updateFlag,jdbcType=VARCHAR},
      REASON_DESC = #{record.reasonDesc,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      FINISH_TIME = #{record.finishTime,jdbcType=TIMESTAMP},
      ORDER_DESC = #{record.orderDesc,jdbcType=VARCHAR},
      KEYWORDS = #{record.keywords,jdbcType=VARCHAR},
      IF_WARNING = #{record.ifWarning,jdbcType=VARCHAR},
      WARNING_TYPE = #{record.warningType,jdbcType=VARCHAR},
      IP_ADDRESS = #{record.ipAddress,jdbcType=VARCHAR},
      PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      PAY_REMARK = #{record.payRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOrder" >
    update ord_order
    <set >
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="chlId != null" >
        CHL_ID = #{chlId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="busiType != null" >
        BUSI_TYPE = #{busiType,jdbcType=VARCHAR},
      </if>
      <if test="orderLevel != null" >
        ORDER_LEVEL = #{orderLevel,jdbcType=VARCHAR},
      </if>
      <if test="translateType != null" >
        TRANSLATE_TYPE = #{translateType,jdbcType=VARCHAR},
      </if>
      <if test="translateName != null" >
        TRANSLATE_NAME = #{translateName,jdbcType=VARCHAR},
      </if>
      <if test="subFlag != null" >
        SUB_FLAG = #{subFlag,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="corporaId != null" >
        CORPORA_ID = #{corporaId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="timeZone != null" >
        TIME_ZONE = #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="stateChgTime != null" >
        STATE_CHG_TIME = #{stateChgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="displayFlag != null" >
        DISPLAY_FLAG = #{displayFlag,jdbcType=VARCHAR},
      </if>
      <if test="displayFlagChgTime != null" >
        DISPLAY_FLAG_CHG_TIME = #{displayFlagChgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="interperType != null" >
        INTERPER_TYPE = #{interperType,jdbcType=VARCHAR},
      </if>
      <if test="lspId != null" >
        LSP_ID = #{lspId,jdbcType=VARCHAR},
      </if>
      <if test="interperId != null" >
        INTERPER_ID = #{interperId,jdbcType=VARCHAR},
      </if>
      <if test="lockTime != null" >
        LOCK_TIME = #{lockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operId != null" >
        OPER_ID = #{operId,jdbcType=VARCHAR},
      </if>
      <if test="updateFlag != null" >
        UPDATE_FLAG = #{updateFlag,jdbcType=VARCHAR},
      </if>
      <if test="reasonDesc != null" >
        REASON_DESC = #{reasonDesc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        FINISH_TIME = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderDesc != null" >
        ORDER_DESC = #{orderDesc,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        KEYWORDS = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="ifWarning != null" >
        IF_WARNING = #{ifWarning,jdbcType=VARCHAR},
      </if>
      <if test="warningType != null" >
        WARNING_TYPE = #{warningType,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="payRemark != null" >
        PAY_REMARK = #{payRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.order.dao.mapper.bo.OrdOrder" >
    update ord_order
    set FLAG = #{flag,jdbcType=VARCHAR},
      CHL_ID = #{chlId,jdbcType=VARCHAR},
      ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      BUSI_TYPE = #{busiType,jdbcType=VARCHAR},
      ORDER_LEVEL = #{orderLevel,jdbcType=VARCHAR},
      TRANSLATE_TYPE = #{translateType,jdbcType=VARCHAR},
      TRANSLATE_NAME = #{translateName,jdbcType=VARCHAR},
      SUB_FLAG = #{subFlag,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      CORPORA_ID = #{corporaId,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=BIGINT},
      TIME_ZONE = #{timeZone,jdbcType=VARCHAR},
      ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      STATE = #{state,jdbcType=VARCHAR},
      STATE_CHG_TIME = #{stateChgTime,jdbcType=TIMESTAMP},
      DISPLAY_FLAG = #{displayFlag,jdbcType=VARCHAR},
      DISPLAY_FLAG_CHG_TIME = #{displayFlagChgTime,jdbcType=TIMESTAMP},
      INTERPER_TYPE = #{interperType,jdbcType=VARCHAR},
      LSP_ID = #{lspId,jdbcType=VARCHAR},
      INTERPER_ID = #{interperId,jdbcType=VARCHAR},
      LOCK_TIME = #{lockTime,jdbcType=TIMESTAMP},
      OPER_ID = #{operId,jdbcType=VARCHAR},
      UPDATE_FLAG = #{updateFlag,jdbcType=VARCHAR},
      REASON_DESC = #{reasonDesc,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      FINISH_TIME = #{finishTime,jdbcType=TIMESTAMP},
      ORDER_DESC = #{orderDesc,jdbcType=VARCHAR},
      KEYWORDS = #{keywords,jdbcType=VARCHAR},
      IF_WARNING = #{ifWarning,jdbcType=VARCHAR},
      WARNING_TYPE = #{warningType,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      PAY_REMARK = #{payRemark,jdbcType=VARCHAR}
    where ORDER_ID = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>